.button {
  text-decoration: none;
  background: #18191c;
  color: #fff;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 14px;
  display: flex;

  &--book-a-demo {
    background: #fff;
    color: #18191c;
  }
}
