.site-footer {
  background: #1f2023;
  padding: 40px 0;

  @media (min-width: 576px) {
    padding: 80px 0;
  }

  &__logo-img {
    max-width: 30%;
    margin: auto;
    display: block;

    @media (min-width: 576px) {
      max-width: 15%;
    }
  }

  &__navbar {
    padding-left: 0;
    display: grid;
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 50px;
    list-style-type: none;

    @media (min-width: 576px) {
      display: flex;
      list-style-type: disc;
      column-gap: 15px;
    }
  }

  &__nav-item-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
  }

  &__nav-item {
    text-indent: 10px;
    margin-right: 25px;

    &::marker {
      color: #585f67;
    }
  }

  &__description {
    color: #7c848e;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
    margin-top: 50px;

    margin-bottom: 50px;

    @media (min-width: 576px) {
      font-size: 24px;
      line-height: 35px;
      max-width: 50%;
      margin: auto;
    }
  }

  &__email-icon {
    max-width: 40px;
  }

  &__email-us {
    text-align: center;
    position: relative;

    @media (min-width: 576px) {
      width: 60%;
      margin: auto;
    }
  }

  &__email {
    border: none;
    background: transparent;
    border-bottom: 1px solid #cc41e4;
    padding: 10px 5px;
    width: 100%;
    color: #3a3e44;
    font-size: 70px;

    @media (min-width: 576px) {
      padding: 35px 5px;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &::placeholder {
      font-size: 30px;
      font-weight: 400;
      color: #3a3e44;

      @media (min-width: 576px) {
        font-size: 70px;
      }
    }
  }

  &__email-btn {
    position: absolute;
    top: 65%;
    right: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #434a54;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: 576px) {
      width: 80px;
      height: 80px;
      top: 50%;
    }
  }

  &__email-icon {
    max-width: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: 576px) {
      max-width: 40px;
    }
  }

  &__gradient-curve {
    position: absolute;
    left: -80px;
    top: 0;
  }

  &__context {
    position: relative;
    padding-top: 30px;

    @media (min-width: 576px) {
      padding-top: 100px;
    }
  }
}
