.data-driven {
  &__title {
    color: #18191c;
    font-size: 130px;
    font-weight: 500;
    line-height: 130px;
  }

  &__content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    position: relative;
    z-index: 1;
  }

  &__action-btn {
    list-style: none;
    display: flex;
    column-gap: 10px;
    padding-left: 0;
  }

  &__left-para {
    font-size: 24px;
    font-weight: 500;
    max-width: 75%;
    margin-top: 110px;
    margin-bottom: 0;
  }

  &__right-para {
    font-size: 18px;
    max-width: 60%;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
  }

  &__context {
    position: relative;
  }

  &__elipse {
    position: absolute;
    bottom: -90px;
    right: -80px;
  }

  &__explore-btn-icon {
    max-width: 24px;
    margin-left: 10px;
  }

  &__explore-btn {
    display: flex;
    align-items: center;
  }

  &__book-btn {
    display: flex;
    align-items: center;
  }

  &__book-btn-icon {
    max-width: 24px;
    margin-left: 10px;
  }

  &__book-btn-icon {
    animation: rotateLeft 4s linear infinite;
  }

  @keyframes rotateLeft {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}

.rapidly-changing {
  padding: 200px 0 70px 0;

  &__title {
    font-size: 80px;
    color: #18191c;
    max-width: 70%;
    margin: 0;
    margin-bottom: 100px;
  }

  &__count-icon-img {
    max-width: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__timeline-context {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  &__case-study-context {
    background-image: url("/app/assets/images/case-study-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    height: 100%;
    padding: 70px;
    border-radius: 20px;
  }

  &__right-column {
    position: absolute;
    height: 80%;
    width: 60vw;
    left: 50%;
  }

  &__case-card-two {
    background: #fff;
    position: absolute;
    box-shadow: 15px -20px 0px 0px rgb(0 0 0 / 6%);
    border-radius: 20px;
    width: 50vw;
    padding: 30px 30px;
  }

  &__case-title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    max-width: 80%;
    line-height: 35px;
  }

  &__profile-details {
    display: flex;
    padding-left: 0;
    column-gap: 40px;
    align-items: center;
  }

  &__profiles {
    list-style: none;
  }

  &__collaborators-count {
    list-style-type: none;
    font-size: 14px;
    color: #818190;
    font-weight: 400;
    margin-left: -30px;
  }

  &__colloborated-date {
    font-weight: 400;
    font-size: 14px;
    color: #818190;
    text-indent: 10px;
  }

  &__profile-item {
    width: 32px;
    height: 32px;
    background: #ececf1;
    border-radius: 50%;
    border: 2px solid #fff;

    &:nth-child(2) {
      position: relative;
      left: -7px;
    }

    &:nth-child(3) {
      position: relative;
      left: -14px;
    }
  }

  &__profile-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  &__box {
    height: 121px;
    width: 100%;
    background: #ececf1;
    border-radius: 5px;
  }

  &__first-line {
    width: 190px;
    height: 16px;
    background: #ececf1;
    margin-bottom: 10px;
  }

  &__second-line {
    width: 380px;
    height: 16px;
    background: #ececf1;
    margin-bottom: 10px;
  }

  &__third-line {
    width: 380px;
    height: 16px;
    background: #ececf1;
  }

  &__case-study-details {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
  }

  &__counting-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    position: relative;
    top: 90px;
  }

  &__running,
  &__completed,
  &__failed {
    background: #fff;
    box-shadow: 2px -2px 0px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 25px 40px;
  }

  &__count-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: space-between;
  }

  &__count-number {
    font-size: 36px;
    font-weight: 500;
  }

  &__count-icon {
    width: 40px;
    height: 40px;
    background: #aaceff;
    border-radius: 50%;

    &--second {
      background: #ccefc0;
    }
  }

  &__counting-title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 35px;
  }
}

.timeline {
  list-style: none;
  border-left: 2px solid #eceef3;
  position: relative;
  left: 60px;
  padding: 10px 0;
}

.timeline li {
  position: relative;
  margin: 40px 0;
  padding-left: 30px;
}

.timeline-number {
  position: absolute;
  left: -60px;
  top: 40px;

  text-align: center;

  color: #e6e6e6;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timeline-content {
  position: relative;
  font-size: 1rem;
  color: #333;
}

.timeline-scroll-line {
  position: absolute;
  top: -50px;
  left: -32px;
  width: 2px;
  height: 0px;
  background-color: #cc41e4;
  transition: height 0.5s ease;
  transform-origin: top;
}

.timeline-item:hover .timeline-content .timeline-scroll-line {
  height: 200px;
}

.timeline-item:hover .timeline-number {
  color: #000;
}

.timeline-item:hover .timeline-header {
  background: linear-gradient(90deg, #de35ff 10%, #3a65ff 64%, #16f1ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline-icon {
  max-width: 40px;
  margin-bottom: 5px;
}

.timeline-header {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.timeline-details {
  color: #767a85;
  font-size: 14px;
  font-weight: 400;
  max-width: 60%;
  line-height: 22px;
  margin: 0;
}

.plan-pricing {
  padding: 80px 0;

  &__feature-icon {
    max-width: 24px;
    margin-right: 10px;
  }

  &__title {
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #18191c;
    margin-bottom: 10px;
  }

  &__description {
    color: #999da6;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
  }

  &__context {
    width: 100%;
    max-width: 70%;
    margin: auto;
  }

  &__cards {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__card-item {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.06);

    width: 100%;
  }

  &__feature-list {
    list-style-type: none;
    padding-left: 0;
    display: grid;
    row-gap: 5px;
  }

  &__feature-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &--hidden {
      visibility: hidden;
    }
  }

  &__card-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;

    &--premium {
      color: #fff;
    }
  }

  &__amount {
    margin: 0;
    font-size: 52px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0px;

    &--premium {
      color: #fff;
    }
  }

  &__month {
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
  }

  &__card-header {
    padding: 40px 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--premium {
      background: linear-gradient(135deg, rgba(222, 53, 255, 1) 0%, rgba(58, 101, 255, 1) 64%, rgba(22, 241, 255, 1) 100%);
    }
  }

  &__card-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__card-body {
    padding: 40px 40px;
  }

  &__card-footer {
    padding: 30px 40px;
    border-top: 1px solid #18191c3d;
  }

  &__card-btn {
    width: fit-content;
    margin: auto;
  }
}

.start-journey {
  padding: 70px 0;

  &__context {
    background: #f6f6f9;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    padding: 100px 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  &__context-bg-gradient {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &__explore-btn-icon {
    max-width: 24px;
    margin-left: 10px;
  }

  &__book-btn-icon {
    max-width: 24px;
    margin-left: 10px;
  }

  &__title {
    font-size: 80px;
    margin: 0;
    color: #18191c;
    font-weight: 500;
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
  }

  &__description {
    color: #999da6;
    font-size: 16px;
    max-width: 37%;
    margin: auto;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
  }

  &__gradient-img {
    height: 100%;
  }

  &__action-btn {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    position: relative;
    column-gap: 10px;
    justify-content: center;
  }

  &__explore-btn {
    display: flex;
    align-items: center;
  }

  &__book-btn {
    display: flex;
    align-items: center;
  }
}
